tr.form-section {
    background-color: #d0d0d0;
}

td.form-label {
    background-color: #e9e9e9;
    text-align: right;
    padding-left: 12px; 
    padding-right: 12px;
    font-family: tahoma,verdana,arial,helvetica,sans-serif;
    font-size: 90%;
}

td.form-label-error {
    background-color: #ffaaaa;
    text-align: right;
    padding-left: 12px; 
    padding-right: 12px;
    font-size: 90%;
}

td.form-widget {
    padding-right: 12px;
    font-size: 90%;
    text-align:left;
}

td.form-widget-error {
    padding-right: 12px;
    font-size: 90%;
    border: 1px dotted red;
}

div.form-error {
    font-family: tahoma,verdana,arial,helvetica,sans-serif; 
    color: red; 
    font-size: 100%;
}

div.form-help-text {
    margin-top: 4px; 
    margin-bottom: 2px; 
    color: #666666; 
    font-family: tahoma,verdana,arial,helvetica,sans-serif; 
    font-size: 90%;
}

span.form-required-mark {
    color: red;
}

table.formgroup {
  border-collapse: collapse;        
}


span.form-configuration-help-text { 
  font-family:verdana, arial, sans-serif; 
  font-size:10px; 
  line-height:13px;
  text-align:justify;
}
span.form-configuration-label { 
  font-family:trebuchet MS, trebuchet, verdana, arial, sans-serif; 
  font-size: 11px; 
  line-height:15px;
}

