/*form fieldset{
	border: 0px solid #F00;
}

form .form-required-mark {
    color: #ff0000;
    display: inline;
}

form .form-item-wrapper {
	clear: both;
	padding: 5px;
}

form .form-item-wrapper .form-label {
	float: left;
	text-align: right;
	display: block;
	width: 12em;
}

form .form-item-wrapper .form-widget, form .form-button, form .form-help-text {
	display: block;
	margin-left: 13em;
}

form .form-item-wrapper .form-error {
	display: block;
	margin-left: 13em;
	color: #ff0000;
}
*/

.form-label-error, .form-widget-error, .form-required-mark, .form-error {
	color: #c30000;
}

/* form layout for forms with divs*/

.margin-form fieldset, .vertical-form fieldset, fieldset {
	border: 0px solid #000;
}

.margin-form .form-required-mark {
    display: inline;
}

.margin-form fieldset {
	border: 0 solid #FFFFFF;
}

.margin-form .form-item-wrapper {
	clear: both;
	padding: 5px;
}	

.margin-form .form-item-wrapper .form-label {
	float: left;
	text-align: right;
	display: block;
	width: 15em;
}

.margin-form .form-item-wrapper .form-widget, .margin-form .form-button, .margin-form div.form-help-text {
	display: block;
	margin-left: 16em;
}

.margin-form .form-item-wrapper .form-error, .margin-form .form-item-wrapper .form-widget-error {
	display: block;
	margin-left: 16em;
}


.vertical-form .form-required-mark {
    display: inline;
}

.vertical-form .form-item-wrapper {
	clear: both;
	padding: 8px;
}	

.vertical-form .form-item-wrapper .form-label{
	text-align: left;
	display: block;

}

.vertical-form .form-item-wrapper .form-widget{
	display: inline;

}


.inline-form div {
	display: inline;	
}


/* pages that are laid out like forms but do not use the form builder and do not have input fields*/
.margin-form-div .form-item-wrapper {
	padding-bottom: 10px;
}

.margin-form-div h1 {
	margin-left: 13.5em;
}