div.list-button-bar-top { 
	padding-top: 5px; 
	padding-bottom: 10px; 
} 
 
div.list-button-bar-bottom { 
	padding-top: 10px; 
} 
 
div.list-button-bar-bottom > input.button { 
  font-size: .85em;
  background-color: #e1e1e1;
  text-align: center; 
  padding: 4px 8px;
  color: #000;
  text-decoration: none;
  line-height: 1.5em;
  white-space: nowrap;
  font-family: Tahoma, 'Lucida Grande', sans-serif;
}

table.list-table { 
	border-collapse: collapse; 
	border: 1px solid #ccc;	 
} 
 
table.list-tiny { 
  font-size: x-small; 
  border-collapse: collapse; 
} 
 
.list-table tr.list-header { 
	background-color: #ffffff; 
	color: inherit; 
} 
 
th.list-table, th.list-table-narrow, .list-table th { 
	padding: 8px 16px; 
	border-bottom: 3px solid #A0BDEB; 
} 
 
.list-table tr.even, .list-tiny tr.even { 
	background-color: #ffffff; 
	color: inherit; 
} 
 
.list-table tr.odd, .list-tiny tr.odd { 
	background-color: #f0eff0; 
	color: inherit; 
} 
 
td.list-table, td.list-table-narrow, .list-table td { 
	padding: 8px 16px; 
	border-bottom: 1px solid #A0BDEB; 
} 
 
td.list-table-narrow, th.list-table-narrow { 
	padding-left: 4px; 
	padding-right: 4px; 
} 
 
tr.last td { 
  border-bottom: 3px solid #A0BDEB; 
} 
 
/* pagination ------------------------------------------ */ 
div.list-paginator-top { 
 padding-bottom: 5px; 
} 
 
div.list-paginator-bottom { 
	padding-top: 15px; 
} 
 
.list-paginator li { 
	padding:5px; 
} 
 
.list-paginator li { 
	border: 1px solid #f00; 
	background-color: #fff; 
	padding: 2px 4px; 
	font-weight: bold; 
	border: 1px solid #fff; 
	color: inherit; 
} 
 
.list-paginator li a:hover { 
	background-color: #e5e5e5; 
	color: inherit; 
} 
 
.list-paginator li.current { 
	background-color: #e5e5e5; 
	border: 1px solid #999; 
	color: inherit; 
} 
 
/* end pagination ------------------------------------------ */ 
 
/* list-filter ------------------------------------------ */ 
 
td.list-filter-pane { 
	background-color: #eee; 
	vertical-align: top; 
	border: 1px solid #ccc; 
	font-size: .9em; 
	color: inherit; 
} 
 
.list-filter-header { 
	font-weight: bold; 
	border-top: 1px solid #999; 
 
} 
 
.list-filter {  
	font-size: x-small;	 
  padding-left:10px; 
} 
 
tr.list-filter-selected { 
	background-color: #bbb; 
	color: inherit; 
} 
 
span.list-filter-selected {  
	font-weight: bold; 
} 
 
.list-filter-section {  
  font-size: x-small;  
  font-weight: bold;  
  background-color: #bbbbff;  
  padding-left: 4px;  
  padding-top: 4px;  
  padding-bottom: 4px;  
  margin-top: 0px;  
  margin-bottom: 8px; 
} 
 
div.list-inline-filter {  
  font-size: x-small;  
} 
 
span.list-inline-filter {  
} 
 
span.list-inline-filter-selected {  
  font-weight: bold; 
} 
 
a.list-inline-filter {  
} 
 
td.list-list-pane { 
  background-color: white; 
  vertical-align: top; 
  padding-left: 10px; 
} 

