table.list {
  font-family: tahoma, verdana, helvetica; 
  border-collapse: collapse;
  font-size: 85%;
}
table.list-tiny {
  font-family: tahoma, verdana, helvetica; 
  font-size: 75%;
  border-collapse: collapse;
}

p.list-row {
  font-family: tahoma, verdana, helvetica; 
  font-size: 85%;
}

span.list-label {
  color: #6f6f6f;
}


tr.list-header {
  background-color: white; 
}
tr.list-subheader {
  background-color: white; 
  font-weight: bold;
  border-top: 3px solid #A0BDEB;
  border-bottom: 1px solid #A0BDEB;
}
tr.list-even {
  background-color: white;
}
tr.list-odd {
  background-color: #EAF2FF;
}
tr.list-spacer {
  background-color: #f9f9f9;
}


th.list {
  padding-left: 16px; 
  padding-right: 16px;
  border-bottom: 3px solid #A0BDEB;
}
th.list-narrow {
  padding-left: 4px; 
  padding-right: 4px;
  border-bottom: 3px solid #A0BDEB;
}
th.list a {
  color: black;
}
th.list img {
  border-style: none;
}
th.list-narrow a {
  color: black;
}
th.list-narrow img {
  border-style: none;
}

td.list {
  padding-left: 16px; 
  padding-right: 16px;
  border-bottom: 1px solid #A0BDEB;
}
td.list-narrow {
  padding-left: 4px; 
  padding-right: 4px;
  border-bottom: 1px solid #A0BDEB;
}

tr.last td {
  border-bottom: 3px solid #A0BDEB;
}



tr.list-paginator { 
  background-color: #eeeeee;
  font-size: 90%; }


td.list-button-bar { 
  padding-bottom: 12px;
  font-size: 115%;
  line-height: 250%;
}

.list-filter { 
  font-size: 70%; 
  font-family: tahoma,verdana,arial,helvetica; 
}
tr.list-filter-selected { 
  background-color: #eeeeff;
}
span.list-filter-selected { 
  color: black;
}
.list-filter-header { 
  font-size: 70%; 
  font-family: tahoma,verdana,arial,helvetica; 
  font-weight: bold; 
}
.list-filter-section { 
  font-size: 70%; 
  font-family: tahoma,verdana,arial,helvetica; 
  font-weight: bold; 
  background-color: #bbbbff; 
  padding-left: 4px; 
  padding-top: 4px; 
  padding-bottom: 4px; 
  margin-top: 0px; 
  margin-bottom: 8px;
}

div.list-inline-filter { 
  font-size: 70%; 
  font-family: tahoma,verdana,arial,helvetica; 
}
span.list-inline-filter { 
}
span.list-inline-filter-selected { 
  font-weight: bold;
}
a.list-inline-filter { 
}


td.list-filter-pane {
  background-color: #ddddff;
  vertical-align: top;
}

td.list-list-pane {
  background-color: white;
  vertical-align: middle;
  padding-left: 10px;
}
