/* Put this inside a @media qualifier so Netscape 4 ignores it */
@media screen {
	/* reduce the amount of UL padding*/
	ul.mktree {padding-left: 5px;} 
    /* Turn off list bullets */
    ul.mktree  li { list-style: none; }
 	ul.mktree li h1 {display: inline; margin-top: 5px;}
    /* Control how "spaced out" the tree is */
    ul.mktree, ul.mktree ul , ul.mktree li { margin-left:5px; }
    /* Provide space for our own "bullet" inside the LI */
    ul.mktree  li           .bullet { padding-left: 15px; }
    /* Show "bullets" in the links, depending on the class of the LI that the link's in */
    ul.mktree  li.liOpen    .bullet { cursor: pointer; background: url(/resources/acs-templating/minus.gif)  center left no-repeat; }
    ul.mktree  li.liClosed  .bullet { cursor: pointer; background: url(/resources/acs-templating/plus.gif)   center left no-repeat; }
    ul.mktree  li.liBullet  .bullet { cursor: default; background: url(/resources/acs-templating/bullet.gif) center left no-repeat; }
    /* Sublists are visible or not based on class of parent LI */
    ul.mktree  li.liOpen    ul { display: block; }
    ul.mktree  li.liClosed  ul { display: none; }
    /* Format menu items differently depending on what level of the tree they are in
    ul.mktree  li { font-size: 12pt; }
    ul.mktree  li ul li { font-size: 10pt; }
    ul.mktree  li ul li ul li { font-size: 8pt; }
    ul.mktree  ul li ul li ul li li { font-size: 6pt; }
    */
}
