#developer-toolbar {
  font-size: 85%;
  background-color: #616093;
  color: white;
  padding:  2px 8px;
}

#developer-toolbar form {
        margin: -3px 0 0 0;
        padding: 0;
}

#developer-toolbar tr { 
       border-top: 4px solid #616093;
}

#developer-toolbar td a { 
  border: solid 1px grey;
  padding: 0 2px;
  text-align: center; 
  color: white;
  text-decoration: none;
}

#developer-toolbar td a:hover { 
  text-decoration: none;
  background-color: #999999;
  border: solid 1px #cccccc;
}
#developer-toolbar #developer-search {
  color: white;
}

#developer-toolbar #developer-search input {
  padding: 0;
  font-size: 85%;
}

#developer-toolbar td a.on {
  background-color: #888888;
  border: solid 1px #cccccc;
}

#developer-toolbar td a:hover.on {
  background-color: #666666;
  border: solid 1px #999999;
}

#developer-toolbar .actions { 
  padding: 0;
  margin: 0;
}

#developer-toolbar .actions ul { 
  margin: 0;
  padding: 0;
  display: inline;
  border: none;
}

#developer-toolbar .actions ul li {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  display: inline;
}

/* ADP Reveal mode */

div.developer-support-adp-box-on {
  background-color: #fcc;
  border-style: solid;
  border-color: #f33;
  border-width: 1px;
}

div.developer-support-adp-box-off {
  background-color: inherit;
  border-width: 0px;
}

span.developer-support-adp-file-on {
  font-size: 80%;
  line-height: 1.3em;
  margin-left: 1em;
  font-weight: bold;
}

span.developer-support-adp-file-off {
  display: none;
}

div.developer-support-adp-output-on {
  background-color: #fff;
  border-style: solid;
  border-color: #777;
  border-width: 1px 0px 0px 0px;
  padding: 3px;
  line-height: 1.2em;
}

div.developer-support-adp-output-off {
  background-color: inherit;
  border-width: 0px;
  padding: 0px;
}

/* Developer-support footer */

.developer-support-footer {
  clear: both;
  padding: 6px;
  border: solid 1px gray;
  background-color: #e1e1e1;
  text-align: left;
}

div.developer-support-footer pre {
    display: inline;
    background-color: inherit;
    border: 0px;
    padding: 2px 2px 2px 2px;
}

.developer-support-footer-off {
        display: none;
}

/* Debug tags normally display: none */ 
div.developer-support-debug {
        display: block;
        border: 1px solid red;
}
span.developer-support-debug {
        display: inline;
        color: red;
}
