
SPAN.nav
{font-family:verdana,helvetica,arial;color:#333333;
font-weight:bold;font-size:90%;}

SPAN.navon
{font-family:verdana,helvetica,arial;color:#666666;
font-weight:bold;font-size:90%;}

SPAN.footer
{font-family:verdana,helvetica,arial;color:#333333;
font-weight:normal;font-size:70%;}

span
{font-family:verdana,helvetica,arial;color:#333333;font-size:80%;}

span.reg
{font-family:verdana,helvetica,arial;color:#333333;font-size:80%;}

span.small
{font-family:verdana,helvetica,arial;color:#333333;font-size:75%;}

span.light
{font-family:verdana,helvetica,arial;color:#666666;font-weight:bold;font-size:70%;}

TD {font-family:verdana,helvetica,arial;color:#333333;font-size:100%;}

TH {font-family:verdana,helvetica,arial;color:#333333;font-size:80%;}

P {font-family:verdana,helvetica,arial;color:#333333;font-size:80%;}

button {
font-family:verdana,helvetica,arial,sans-serif;color:#999999;font-weight:bold;font-size:8pt;background-color:#eeeeee;}

h1 {font-family:verdana,helvetica,arial;color:#666666;font-size:110%;
font-weight:bold;}
span.one {font-family:verdana,helvetica,arial;color:#666666;font-size:110%;
font-weight:bold;}

h2 {font-family:verdana,helvetica,arial;color:#333333;font-size:105%;
font-weight:bold;}
span.two {font-family:verdana,helvetica,arial;color:#333333;font-size:105%;
font-weight:bold;}

h3 {font-family:verdana,helvetica,arial;color:#333333;font-size:100%;
font-weight:bold;}
span.three {font-family:verdana,helvetica,arial;color:#333333;font-size:100%;
font-weight:bold;}

h4 {font-family:verdana,helvetica,arial;color:#333333;font-size:95%;
font-weight:bold;}
span.four{font-family:verdana,helvetica,arial;color:#333333;
font-size:95%;font-weight:bold;}

span.pink {font-family:verdana,helvetica,arial;color:#cc0066;font-size:95%;
font-weight:bold;

span.blue {font-family:verdana,helvetica,arial;color:#006699;font-size:110%;
text-decoration:none;font-weight:bold;}


A:link {color:#000000;text-decoration:underline;}
A:active {color:#3399cc;text-decoration:underline;}
A:visited {color:#006699;text-decoration:underline;}
A:hover {color:#3399cc;text-decoration:underline;}
        
A.top:link {color:#333333;text-decoration:none;}
A.top:active {color:#666666;text-decoration:none;}
A.top:visited {color:#333333;text-decoration:none;}
A.top:hover {color:#666666;text-decoration:none;}

A.on:link {color:#666666;text-decoration:none;}
A.on:active {color:#cc0066;text-decoration:none;}
A.on:visited {color:#666666;text-decoration:none;}
A.on:hover {color:#cc0066;text-decoration:none;}
