table.list {
  font-family: tahoma, verdana, helvetica; 
  font-size: 85%;
}
table.list-tiny {
  font-family: tahoma, verdana, helvetica; 
  font-size: 75%;
}

p.list-row {
  font-family: tahoma, verdana, helvetica; 
  font-size: 85%;
}

span.list-label {
  color: #6f6f6f;
}


tr.list-header {
  background-color: #cccccc; 
}
tr.list-subheader {
  background-color: #bbbbbb; 
  font-weight: bold;
}
tr.list-even {
  background-color: #f0f0f0;
}
tr.list-odd {
  background-color: #e0e0e0;
}
tr.list-spacer {
  background-color: #f9f9f9;
}


th.list {
  padding-left: 16px; 
  padding-right: 16px;
}
th.list-narrow {
  padding-left: 4px; 
  padding-right: 4px;
}


td.list {
  padding-left: 16px; 
  padding-right: 16px;
}
td.list-narrow {
  padding-left: 4px; 
  padding-right: 4px;
}



tr.list-paginator { 
  background-color: #eeeeee;
  font-size: 90%; }


tr.list-button-bar { 
  margin-bottom: 4px;
  margin-top: 4px;
  font-family: tahoma, verdana, helvetica; 
  background-color: #eeeeee;
  font-size: 95%;
}
span.list-button-header { 
  border-width: 1px; 
  border-style: solid; 
  text-align: center; 
  border-color: #cccccc; 
  background-color: #ffffff; 
  padding: 1px; 
  padding-left: 12px; 
  padding-right: 12px; 
}
span.list-button { 
  text-align: center;
  border-color: #999999;
  background-color: white;
  padding: 1px; 
  padding-left: 4px; 
  padding-right: 4px; 
}
a.list-button:link { 
  color: black; 
  text-decoration: none; 
}     
a.list-button:visited { 
  color: black; 
  text-decoration: none; 
}
a.list-button:hover { 
  color: #666666; 
  text-decoration: none; 
}

.list-filter { 
  font-size: 70%; 
  font-family: tahoma,verdana,arial,helvetica; 
}
tr.list-filter-selected { 
  background-color: #eeeeff;
}
span.list-filter-selected { 
  color: black;
}
.list-filter-header { 
  font-size: 70%; 
  font-family: tahoma,verdana,arial,helvetica; 
  font-weight: bold; 
}
.list-filter-section { 
  font-size: 70%; 
  font-family: tahoma,verdana,arial,helvetica; 
  font-weight: bold; 
  background-color: #bbbbff; 
  padding-left: 4px; 
  padding-top: 4px; 
  padding-bottom: 4px; 
  margin-top: 0px; 
  margin-bottom: 8px;
}

div.list-inline-filter { 
  font-size: 70%; 
  font-family: tahoma,verdana,arial,helvetica; 
}
span.list-inline-filter { 
}
span.list-inline-filter-selected { 
  font-weight: bold;
}
a.list-inline-filter { 
}
