#login-box {
    border: black 1px solid;
    padding: 4px;
}

TABLE.table-display {
    font-family: tahoma, verdana, helvetica; 
    font-size: 85%;
}

TR.table-header {
    background-color: #cccccc; 
}

TR.even {
    background-color: #f0f0f0;
}

TR.odd {
    background-color: #e0e0e0;
}
