
/**********************************************************************
/* Site-Wide/Master Templates
/**********************************************************************/

/* BODY tag */

body {
  font-family: verdana, helvetica, arial, sans-serif;
  background-color: white;
  margin: 0px;
}


/* Site Header */

#site-header {
  background-color: #313063; 
  color: white;
  font-family: tahoma, verdana, helvetica, sans-serif;
  font-size: 85%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

#site-header .system-name {
  font-size: 120%;
  font-weight: bold;
  float: left;
}
#site-header .system-name a {
  color: white;
  text-decoration: none;
}
#site-header .system-name a:hover {
  color: white;
  text-decoration: none;
}

#site-header .users-online {
  display: inline;
  float: right;
  padding-right: 4em;
}

#site-header .user-greeting {
  display: inline;
}

#site-header .permanent-navigation {
  display: inline;
  float: right;
}

#site-header .action-list a { 
  border: solid 1px #313063;
  text-align: center; 
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
  color: white;
  text-decoration: none;
}
#site-header .action-list a:hover { 
  text-decoration: none;
  background-color: #666666;
  border: solid 1px #999999;
}



/* User Messages */

#user-message {
  background-color: #ccff99; 
  padding: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 85%;
}

#user-message ul {
  margin-left: 0;
  padding-left: 0;
  display: inline;
  border: none;
} 
#user-message ul li {
  margin-left: 0;
  padding-left: 2px;
  border: none;
  list-style: none;
}


/* Boxed User Message */

.boxed-user-message {
  background-color: #ccff99; 
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 85%;
  border: 1px solid #dd9988;
}

.boxed-user-message h3 {
  color: #990000;
  margin-top: 0px;
}

.boxed-user-message .body {
  color: #990000;
}


/* Context Bar */

#context-bar {
  font-family: Arial, sans-serif;
  font-size: 11px;
  margin-bottom: 2px;
  padding-left: 8px;
}
#context-bar #breadcrumbs {
  clear: left;
  float: left;
  padding-top: 3px;
}
#context-bar #breadcrumbs ul {
  margin-left: 0;
  padding-left: 0;
  display: inline;
  border: none;
} 
#context-bar #breadcrumbs ul li {
  margin-left: 0;
  padding-left: 2px;
  border: none;
  list-style: none;
  display: inline;
}
#context-bar #navlinks {
  float: right;
}



/* Subsite Name */

#subsite-name { 
  font-weight: bold; 
  font-size: 120%;
  font-family: verdana; 
  padding-left: 8px;
}
a.subsite-name {
  color: black;
  text-decoration: none;
}
a.subsite-name:hover {
  color: black;
  text-decoration: none;
}

/* This wraps everything except site-header and site-footer, and is used to ensure proper margins */
/* Only used on non-tabbed (navbar and subnavbar) pages */

#page-body {
  margin-left: 8px;
  margin-right: 8px;
}




/* Title of page, typically used on an H1 tag */

.page-title {
}


/* Site Footer */

#site-footer {
  clear: both;
  border-top: 1px solid #ccc;
  font-family: tahoma, verdana, helvetica, sans-serif;
  font-size: 85%;
  margin-top: 24px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

#site-footer ul {
  display: inline;
  margin-left: 0;
  padding-left: 0;
  border: none;
}

#site-footer ul li {
  margin-left: 0;
  padding-left: 10px;
  border: none;
  list-style: none;
  display: inline;
}

#site-footer .action-list {
  float: left;
}






/**********************************************************************
/* General navigation
/**********************************************************************/

/* First level tabs */

#navbar-div {
  border-bottom: 1px solid #666;
}
#navbar-container {
  height: 35px;
  position: relative;
}
#navbar { 
  position: absolute;
  height: 21px;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  left: 10px;
  bottom: -2px;
  margin-top: 10px;
  font-family: Arial, sans-serif;
  font-size: 80%;
  font-weight: bold;
}
html>body #navbar { bottom: 0px }

#navbar .tab { 
  height: 16px;
  float: left; 
  background-color: #eeeeee; 
  border: 1px solid #666;
  padding: 2px 5px 2px 5px;
  margin: 0px 2px 0px 2px;
}
#navbar a {
  text-decoration: none;
  color: black;
}
#navbar a:hover {
  text-decoration: underline;
}
#navbar #navbar-here { 
  border-bottom-color: white;
  background-color: white;
}
#navbar #navbar-here a {
  color: black;
}

#navbar-body { 
  border-bottom: 1px solid #016799;
  background-color: white;
  clear: both;
  padding-top: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
}


/* Second level tabs */

#subnavbar-div {
  border-bottom: 1px solid #666;
}
#subnavbar-container {
  height: 35px;
  width: 742px;
  position: relative;
}
#subnavbar {
  position: absolute;
  width: 720px;
  height: 21px;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  right: 0px;
  bottom: -2px;
  margin-top: 10px;
  font-family: Arial, sans-serif;
  font-size: 80%;
  font-weight: bold;
}
html>body #subnavbar { bottom: 0px }

#subnavbar .tab { 
  height: 16px;
  float: left; 
  background-color: #eeeeee; 
  border: 1px solid #666;
  padding: 2px 5px 2px 5px;
  margin: 0px 2px 0px 2px;
}
#subnavbar a {
  text-decoration: none;
  color: black;
}
#subnavbar a:hover {
  text-decoration: underline;
}
#subnavbar #subnavbar-here { 
  border-bottom-color: white;
  background-color: white;
}
#subnavbar #subnavbar-here a {
  color: black;
}


#subnavbar-body { 
  border-bottom: 1px solid #016799;
  border-left: 1px solid #016799;
  border-right: 1px solid #016799;
  background-color: white;
  clear: both;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}



/**********************************************************************
/* Widgets
/**********************************************************************/


/* Various forms of links */

.action-list { 
  padding: 0;
}

.action-list ul { 
  margin: 0;
  padding: 0;
  display: inline;
  border: none;
}
                
.action-list ul li {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  display: inline;
}

a.refresh {
  color: white;
  text-decoration: underline;
}
a.refresh:hover {
  color: red;
  text-decoration: underline;
}

a.button { 
  font: 85% arial;
  border: solid 1px black;
  background-color: #e1e1e1;
  text-align: center; 
  padding: 1px;
  padding-left: 8px;
  padding-right: 8px;
  color: black;
  text-decoration: none;
  white-space: nowrap;
}
a.button:link { 
  text-decoration: none;
  border: solid 1px black;
}
a.button:visited { 
  text-decoration: none;
  border: solid 1px black;
}
a.button:hover { 
  text-decoration: none;
  background-color: #ccc;
  border: solid 1px black;
}
a.button:active { 
  text-decoration: none;
  border: solid 1px black;
}

a.admin:link, a.admin:visited {
  color: #f00;
  font-family: verdana;
  font-size: 11px;
  font-weight: normal;
}

a.admin:hover { 
  color: #fff; 
  background: #f00;
}


ul.action-links li {
  list-style: circle url(/resources/acs-subsite/action-link-marker.png);
  margin: 8px;
  margin-left: -16px;
}

div.subsite-context-bar {
  font-size: 85%;
  margin-bottom: 4px;
  position: relative;
}



/* Text Styles */

h1 {
  font-size: 120%;
  margin-bottom: 12px;
}
h2 {
  font-size: 115%;
  margin-bottom: 12px;
}
h3 {
  font-size: 110%;
  margin-bottom: 12px;
}
h4 {
  font-size: 105%;
  margin-bottom: 12px;
}

.small {
  font-size: 85%;
}

.highlight { 
  background-color: #ffc; 
}


/* Portlets */

.portlet h2 {
  background: #dddddd; 
  padding: 2px 8px 2px 8px; 
  margin: 0;
}

.portlet-header {
  background: #dddddd; 
}

.portlet-header h2 {
  padding: 2px 8px 2px 8px; 
  margin: 0;
}

.portlet .portlet-body {
  border: 1px dotted #999; 
  border-top: 0px; 
  padding: 6px 8px 6px 8px;
}








/* Generally Available Tabs */

#tabs-div {
  border-bottom: 1px solid #666;
}
#tabs-container {
  height: 15px;
  position: relative;
}
#tabs { 
  position: absolute;
  height: 21px;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  left: 10px;
  bottom: -2px;
  margin-top: 10px;
  font-family: Arial, sans-serif;
  font-size: 80%;
  font-weight: bold;
}
html>body #tabs { bottom: 0px }

#tabs .tab { 
  height: 16px;
  float: left; 
  background-color: #cccccc;
  border: 1px solid #666;
  padding: 2px 5px 2px 5px;
  margin: 0px 2px 0px 2px;
}
#tabs .disabled { 
  color: #999999;
}
#tabs a {
  text-decoration: none;
  color: black;
}
#tabs a:hover {
  text-decoration: underline;
}
#tabs #tabs-here { 
  border-bottom-color: #f6f6f6;
  background-color: #f6f6f6;
}
#tabs #tabs-here a {
  color: black;
}

#tabs-body { 
  border-bottom: 1px solid #016799;
  background-color: #f6f6f6;
  clear: both;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}












/**********************************************************************
/* acs-developer-support Toolbar
/**********************************************************************/
/* LARS: This ought to go in the developer-support package, somehow */

#developer-toolbar {
  background-color: #616093;
  color: white;
  font-family: tahoma, verdana;
  font-size: 80%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
}
#developer-toolbar td a { 
  border: solid 1px #616093;
  text-align: center; 
  color: white;
  text-decoration: none;
}
#developer-toolbar td a:hover { 
  text-decoration: none;
  background-color: #999999;
  border: solid 1px #cccccc;
}
#developer-toolbar #search {
  font: 80% tahoma;
  color: white;
}
#developer-toolbar #search input {
  font: 100% tahoma;
}
#developer-toolbar td a.on {
  background-color: #888888;
  border: solid 1px #cccccc;
}
#developer-toolbar td a:hover.on {
  background-color: #666666;
  border: solid 1px #999999;
}

/* Developer-support footer */

.developer-support-footer {
  float: left;
  padding: 6px;
  border: solid 1px gray;
  background-color: #e1e1e1;
  margin-top: 4px;
}











/**********************************************************************
/* DEPRECATED CLASSES
/**********************************************************************/

/* Deprecated, not sure what it's replaced with just yet */
a.action {
  margin: 8px;
  margin-left: 24px;
  display: list-item;
  list-style: circle url(/resources/acs-subsite/right.gif);
}


