table.subsite-header {
  background-color: #016799; 
  color: white;
  font-family: tahoma, verdana;
  font-size: 85%;
}
tr.subsite-header {

}
td.subsite-header {
  padding-top: 6px;
  padding-bottom: 6px;
}

td.system-name {
  font-size: 120%;
  font-weight: bold;
  padding-left: 8px;
}
a.system-name {
  color: white;
  text-decoration: none;
}
a.system-name:hover {
  color: white;
  text-decoration: none;
}


a.button { 
  border-width: 1px; 
  border-style: solid; 
  text-align: center; 
  border-color: #999999; 
  background-color: #107AAE;
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
}
a.button:link { 
  color: white;
  text-decoration: none;
}
a.button:visited { 
  color: white;
  text-decoration: none;
}
a.button:hover { 
  color: #cccccc;
  text-decoration: none;
}

#body  { 
  font-family: tahoma, arial, helvetica, sans-serif;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#subsite-name { 
  font-weight: bold; 
  font-size: 120%;
  font-family: verdana; 
}
a.subsite-name {
  color: black;
  text-decoration: none;
}
a.subsite-name:hover {
  color: black;
  text-decoration: none;
}

#navbar { 
  padding-top: 4px; 
  font-size: 85%;
}
#navbar-body { 
  border-top: 1px solid #016799;
  border-bottom: 1px solid #016799;
  background-color: #dddddd;
  clear: both;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
div.navbar-selected { 
  background-color: #016799; 
  color: white; 
  float: left; 
  padding-left: 6px; 
  padding-right: 6px; 
  padding-top: 2px; 
  padding-bottom: 2px;
}
div.navbar-unselected { 
  float: left; 
  padding-left: 6px; 
  padding-right: 6px; 
  padding-top: 2px; 
  padding-bottom: 2px; 
}
a.navbar-selected {
  color: white;
  text-decoration: none;
}
a.navbar-selected:hover {
  color: white;
  text-decoration: underline;
}


#subnavbar { 
  padding-top: 12px; 
  font-size: 85%;
}
#subnavbar-body { 
  border-top: 1px solid #016799;
  border-bottom: 1px solid #016799;
  background-color: white;
  clear: both;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}
div.subnavbar-selected { 
  background-color: #016799; 
  color: white; 
  float: left; 
  padding-left: 8px; 
  padding-right: 8px; 
  padding-top: 2px; 
  padding-bottom: 2px;
}
div.subnavbar-unselected { 
  float: left; 
  padding-left: 8px; 
  padding-right: 8px; 
  padding-top: 2px; 
  padding-bottom: 2px; 
}
a.subnavbar-selected {
  color: white;
  text-decoration: none;
}
a.subnavbar-selected:hover {
  color: white;
  text-decoration: underline;
}




table.subsite-body {
  width: 100%;
  height: 100%;
}
td.subsite-body {
  padding: 8px;
  font-family: tahoma, verdana;
  height: 100%;
}

td.subsite-subsections {
  font-family: tahoma, verdana;
  background-color: #e6e6e6;
  width: 150px;
  height: 100%;
}
div.subsite-subsection-header {
  background-color: #aeb599;
  padding-left: 40px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
}
div.subsite-subsection {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: solid 1px #aaaaaa;
}
a.subsite-subsection {
  color: black;
  text-decoration: none;
}
a.subsite-subsection:hover {
  color: gray;
  text-decoration: none;
}

td.subsite-section {
  background-color: #879266;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: tahoma, verdana;
  font-size: 75%;
}
td.subsite-section-selected {
  background-color: #879299;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: tahoma, verdana;
  font-size: 75%;
}

a.subsite-section {
  color: white;
  text-decoration: none;
}
a.subsite-section:hover {
  color: #cccccc;
  text-decoration: underline;
}


div.subsite-context-bar {
  font-size: 85%;
  margin-bottom: 4px;
  position: relative;
}

h1 {
  font-size: 120%;
  margin-top: 0px;
  margin-bottom: 12px;
}
h2 {
  font-size: 115%;
  margin-top: 0px;
  margin-bottom: 12px;
}
h3 {
  font-size: 110%;
  margin-top: 0px;
  margin-bottom: 12px;
}
h4 {
  font-size: 105%;
  margin-top: 0px;
  margin-bottom: 12px;
}


span.form-configuration-help-text { 
  font-family:verdana, arial, sans-serif; 
  font-size:10px; 
  line-height:13px;
  text-align:justify;
}
span.form-configuration-label { 
  font-family:trebuchet MS, trebuchet, verdana, arial, sans-serif; 
  font-size: 11px; 
  line-height:15px;
}

div.general-message {
  background-color: #ccff99; 
  padding: 4px;
}
