body {
  font-family: verdana, helvetica, arial, sans-serif;
  background-color: white;
  margin: 0px;
}

table.subsite-header {
  background-color: #313063; 
  color: white;
  font-family: tahoma, verdana;
  font-size: 85%;
}
table.subsite-header td {
  padding-top: 3px;
  padding-bottom: 3px;
}
table.subsite-header td.button-bar a { 
  border: solid 1px #313063;
  text-align: center; 
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
  color: white;
  text-decoration: none;
}
table.subsite-header td.button-bar a:hover { 
  text-decoration: none;
  background-color: #666666;
  border: solid 1px #999999;
}
table.subsite-header td.system-name {
  font-size: 120%;
  font-weight: bold;
  padding-left: 8px;
}
table.subsite-header td.system-name a {
  color: white;
  text-decoration: none;
}

a.refresh {
  color: white;
  text-decoration: underline;
}
a.refresh:hover {
  color: red;
  text-decoration: underline;
}


table.developer-toolbar {
  background-color: #616093;
  color: white;
  font-family: tahoma, verdana;
  font-size: 80%;
}
table.developer-toolbar td {
  padding-top: 3px;
  padding-bottom: 3px;
}
table.developer-toolbar td a { 
  border: solid 1px #616093;
  text-align: center; 
  padding: 1px;
  padding-left: 2px;
  padding-right: 2px;
  color: white;
  text-decoration: none;
}
table.developer-toolbar td a:hover { 
  text-decoration: none;
  background-color: #999999;
  border: solid 1px #cccccc;
}
table.developer-toolbar #search {
  font: 80% tahoma;
  color: white;
}
table.developer-toolbar #search input {
  font: 100% tahoma;
}
table.developer-toolbar td a.on {
  background-color: #888888;
  border: solid 1px #cccccc;
}
table.developer-toolbar td a:hover.on {
  background-color: #666666;
  border: solid 1px #999999;
}



a.button { 
  font: 85% arial;
  border: solid 1px black;
  background-color: #e1e1e1;
  text-align: center; 
  padding: 1px;
  padding-left: 8px;
  padding-right: 8px;
  color: black;
  text-decoration: none;
  white-space: nowrap;
}
a.button:hover { 
  text-decoration: none;
  background-color: #ccc;
  border: solid 1px black;
}

#body  { 
  font-family: tahoma, arial, helvetica, sans-serif;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#subsite-name { 
  font-weight: bold; 
  font-size: 120%;
  font-family: verdana; 
  padding-left: 12px;
}
a.subsite-name {
  color: black;
  text-decoration: none;
}
a.subsite-name:hover {
  color: black;
  text-decoration: none;
}

#navbar-div {
  border-bottom: 1px solid #666;
}
#navbar-container {
  height: 35px;
  position: relative;
}
#navbar { 
  position: absolute;
  height: 21px;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  left: 10px;
  bottom: -2px;
  margin-top: 10px;
  font-family: Arial, sans-serif;
  font-size: 80%;
  font-weight: bold;
}
html>body #navbar { bottom: 0px }

#navbar .tab { 
  height: 16px;
  float: left; 
  background-color: #eeeeee; 
  border: 1px solid #666;
  padding: 2px 5px 2px 5px;
  margin: 0px 2px 0px 2px;
}
#navbar a {
  text-decoration: none;
  color: black;
}
#navbar a:hover {
  text-decoration: underline;
}
#navbar #navbar-here { 
  border-bottom-color: white;
  background-color: white;
}
#navbar #navbar-here a {
  color: black;
}


#navbar-body { 
  border-bottom: 1px solid #016799;
  background-color: white;
  clear: both;
  padding-top: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
}


#subnavbar-div {
  border-bottom: 1px solid #666;
}
#subnavbar-container {
  height: 35px;
  width: 742px;
  position: relative;
}
#subnavbar {
  position: absolute;
  width: 720px;
  height: 21px;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  right: 0px;
  bottom: -2px;
  margin-top: 10px;
  font-family: Arial, sans-serif;
  font-size: 80%;
  font-weight: bold;
}
html>body #subnavbar { bottom: 0px }

#subnavbar .tab { 
  height: 16px;
  float: left; 
  background-color: #eeeeee; 
  border: 1px solid #666;
  padding: 2px 5px 2px 5px;
  margin: 0px 2px 0px 2px;
}
#subnavbar a {
  text-decoration: none;
  color: black;
}
#subnavbar a:hover {
  text-decoration: underline;
}
#subnavbar #subnavbar-here { 
  border-bottom-color: white;
  background-color: white;
}
#subnavbar #subnavbar-here a {
  color: black;
}


#subnavbar-body { 
  border-bottom: 1px solid #016799;
  border-left: 1px solid #016799;
  border-right: 1px solid #016799;
  background-color: white;
  clear: both;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}










#tabs-div {
  border-bottom: 1px solid #666;
}
#tabs-container {
  height: 15px;
  position: relative;
}
#tabs { 
  position: absolute;
  height: 21px;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  left: 10px;
  bottom: -2px;
  margin-top: 10px;
  font-family: Arial, sans-serif;
  font-size: 80%;
  font-weight: bold;
}
html>body #tabs { bottom: 0px }

#tabs .tab { 
  height: 16px;
  float: left; 
  background-color: #cccccc;
  border: 1px solid #666;
  padding: 2px 5px 2px 5px;
  margin: 0px 2px 0px 2px;
}
#tabs .disabled { 
  color: #999999;
}
#tabs a {
  text-decoration: none;
  color: black;
}
#tabs a:hover {
  text-decoration: underline;
}
#tabs #tabs-here { 
  border-bottom-color: #f6f6f6;
  background-color: #f6f6f6;
}
#tabs #tabs-here a {
  color: black;
}


#tabs-body { 
  border-bottom: 1px solid #016799;
  background-color: #f6f6f6;
  clear: both;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}












table.subsite-body {
  width: 100%;
  height: 100%;
}
td.subsite-body {
  padding: 8px;
  font-family: tahoma, verdana;
  height: 100%;
}

td.subsite-subsections {
  font-family: tahoma, verdana;
  background-color: #e6e6e6;
  width: 150px;
  height: 100%;
}
div.subsite-subsection-header {
  background-color: #aeb599;
  padding-left: 40px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
}
div.subsite-subsection {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: solid 1px #aaaaaa;
}
a.subsite-subsection {
  color: black;
  text-decoration: none;
}
a.subsite-subsection:hover {
  color: gray;
  text-decoration: none;
}

td.subsite-section {
  background-color: #879266;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: tahoma, verdana;
  font-size: 75%;
}
td.subsite-section-selected {
  background-color: #879299;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: tahoma, verdana;
  font-size: 75%;
}

a.subsite-section {
  color: white;
  text-decoration: none;
}
a.subsite-section:hover {
  color: #cccccc;
  text-decoration: underline;
}


#context-bar {
  font-family: Arial, sans-serif;
  font-size: 11px;
  margin-bottom: 2px;
  padding-left: 12px;
}
#context-bar #breadcrumbs {
  float: left;
  padding: 3px;
}
#context-bar #breadcrumbs ul {
  margin-left: 0;
  padding-left: 0;
  display: inline;
  border: none;
} 
#context-bar #breadcrumbs ul li {
  margin-left: 0;
  padding-left: 2px;
  border: none;
  list-style: none;
  display: inline;
}
#context-bar #navlinks {
  float: right;
}

h1 {
  font-size: 120%;
  margin-bottom: 12px;
}
h2 {
  font-size: 115%;
  margin-bottom: 12px;
}
h3 {
  font-size: 110%;
  margin-bottom: 12px;
}
h4 {
  font-size: 105%;
  margin-bottom: 12px;
}


span.form-configuration-help-text { 
  font-family:verdana, arial, sans-serif; 
  font-size:10px; 
  line-height:13px;
  text-align:justify;
}
span.form-configuration-label { 
  font-family:trebuchet MS, trebuchet, verdana, arial, sans-serif; 
  font-size: 11px; 
  line-height:15px;
}

#general-message {
  background-color: #ccff99; 
  padding: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 85%;
}

#general-message ul {
  margin-left: 0;
  padding-left: 0;
  display: inline;
  border: none;
} 
#general-message ul li {
  margin-left: 0;
  padding-left: 2px;
  border: none;
  list-style: none;
}

ul.action-links li {
  list-style: circle url(/resources/acs-subsite/action-link-marker.png);
  margin: 8px;
  margin-left: -16px;
}

a.action {
  margin: 8px;
  margin-left: 24px;
  display: list-item;
  list-style: circle url(/resources/acs-subsite/right.gif);
}

#footer-links {
  padding: 6px;
  margin-top: 4px;
  font-size: 85%;
}

#footer-links ul {
  display: inline;
  margin-left: 0;
  padding-left: 0;
  border: none;
}

#footer-links ul li {
  margin-left: 0;
  padding-left: 10px;
  border: none;
  list-style: none;
  display: inline;
}

#developer-support-footer {
  float: left;
  padding: 6px;
  border: solid 1px gray;
  background-color: #e1e1e1;
  margin-top: 4px;
}

.portlet h2 {
  background: #dddddd; 
  padding: 2px 8px 2px 8px; 
  margin: 0;
}

.portlet .portlet-body {
  border: 1px dotted #999; 
  border-top: 0px; 
  padding: 6px 8px 6px 8px;
}

