body			{
			background-color: white;
  margin:5px 10px 0px 10px; 
  padding:0;
  font: 0.9em Tahoma, "Lucida Grande", sans-serif;
  voice-family: "\"}\""; voice-family:inherit;
}

a:link {
  color: #235c96;
  text-decoration:none;
}
  
a:visited {
  color: #235c96;
  text-decoration:none;
}
  
a:hover {
  color: #235c96;
  text-decoration:underline;
  background-color: #f3f1e9;
}

h1, h2, h3, h4, h5, h6 {
  color: #222222;
}

#description 		{

}

.more			{
			float: right;
}

.page-title		{
}

.context 		{
}

.item 			{
      padding-bottom: 0px;	
      margin-bottom: 8px;
      margin-top: 0px;
		
}

div.header		{
			margin-bottom: 15px;
}

span.chosen		{
			color: #ccc;
}

div.navigation td		{
			font-weight: normal;
			color: white;
}

div.navigation a:link		{
			font-weight: normal;
			color: white;
}

div.navigation a:hover		{
			font-weight: normal;
			color: white;
            background: inherit;
}

div.navigation a:visited	{
			color: white;
}

span.statistics		{
			font-size: 70%;				
}

span.search input	{
			font-size: 100%;						
}

span.user-status	{
			font-size: 85%;
}

div.box			{
			margin-bottom: 15px;
}

h1.box-title, h2.box-title	{
			color: white;	
            font-family: Verdana, "Lucida Grande", sans-serif;
			font-weight: normal;
            font-size: 1em;
			padding-left: 2px;
			padding-right: 2px;
			padding-bottom: 1px;
            margin: 0 0 0 0;
}

.box-title a:link, .box-title a:visited	{
			color: white;
}

.box-title a:hover { 
            background: inherit;
}

div.box-content		{
			font-size: 85%;
			padding-left: 8px;
			padding-right: 8px;
			padding-top: 5px;
}
div.box-full-content td	{
			color: white;
			font-size: 85%;
			padding-left: 2px;
			padding-right: 2px;
}

div.box-full-content a	{
			color:white;
			font-size: 75%;
}

div.box-full-content a:visited	{
			color:white;
			font-size: 75%;
}

div.left-panel		{
			float: left;
			width: 25%;			
}

div.download		{
			margin-bottom: 15px;
}

div.right-panel		{
			float:left;
			width: 20%;
}

div.main-content	{
			float: right;
			width: 69%;
			margin-left: 3%;
			margin-right: 3%;
}

div.footer table	{
			clear: both;
			font-size: 70%;
			margin-top: 15px; 
}


span.etp-link		{
			float: right;
}


/*
	Community Page
*/

div.container-left	{
			float: left;
			width: 39%;
}

div.container-right	{
			float: right;
			width: 59%;
}

div.jobs		{
			clear: both;
}

div.sites		{
			clear: both;
}

div.companies		{
			clear: both;
}

div.hosting		{
			clear: both;
}

dl.faq dt { margin-bottom: 5px; 
	    font-weight: bold; 
	    background-color: #eee;
	    padding: 2px; }

dl.faq dd { margin-bottom: 20px; }

div.news .rss-feed {
    float: right;
    top: 6px;
}

div.news h2, div.postings h2 {
  color: #444;
  background-color: #f8f8f8; 
}

div.postings .forum, div.news .news-item {
    margin-left: 1em;
}

div.item-content, p.item-content, ul.forum-content {
    padding: 6px;
    margin-top: 1px;
    font-size: small;
    font-family: Verdana, "Lucida Grande", sans-serif;
}

ul.forum-content li {
    list-style-type: none;
}

h3.item-title, h3.forum-title {
    margin-bottom: 1px;
    font-weight: normal;
    font-size: 1em;
    border-bottom: thin dotted #666;
}

h3.item-title a, h3.forum-title a {
   font-weight: bold;
   color: #960;
}
h3.item-title a:hover, h3.forum-title a:hover, p.item-content a:hover, ul.forum-content a:hover {
    background-color: inherit;
}

